body{
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-image: repeating-radial-gradient(red, yellow 10%, green 15%);
    font-size: 25px;

}

.container{
    background: white;
    width: 640px;
    margin: auto;
}