body{
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-image: repeating-radial-gradient(red, yellow 10%, green 15%);
    font-size: 25px;

}

.container{
    background: white;
    width: 640px;
    margin: auto;
}

/* #mobile {
    display: none;
} */


@media only screen and (max-width: 1024px) {

    img{
        width: 100%;
        height: auto;
    }

    .container{
        width: 100%;
        height: auto;
    }

}